@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-13col {
  grid-column: span 13 / span 13;
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

.grid-14col {
  grid-column: span 14 / span 14;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}

.grid-15col {
  grid-column: span 15 / span 15;
  grid-template-columns: repeat(15, minmax(0, 1fr));
}

.grid-16col {
  grid-column: span 16 / span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-span-13 {
  grid-column-end: span 13;
}

.grid-span-14 {
  grid-column-end: span 14;
}

.grid-span-15 {
  grid-column-end: span 15;
}

.grid-span-16 {
  grid-column-end: span 16;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-items-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.align-center {
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.padding-left10 {
  padding-left: 10px;
}

.padding-right10 {
  padding-right: 10px;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.line-item {
  gap: 10px;
  margin: 10px 0;
}

.block {
  display: block;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.border {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list-1col {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.list-2col {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.list-3col {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.list-4col {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.li.list-item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  word-wrap: normal;
}

li.list-item.vertical-list:not(:last-child) {
  margin-bottom: 1rem;
}

li.list-item.horizontal-list {
  margin-bottom: 1rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.scrolling {
  overflow-y: scroll;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

.max-height-20 {
  max-height: 20rem;
}

.max-height-21 {
  max-height: 21rem;
}

.max-height-22 {
  max-height: 22rem;
}

.max-height-23 {
  max-height: 23rem;
}

.max-height-24 {
  max-height: 24rem;
}

.max-height-25 {
  max-height: 25rem;
}

.min-height-10 {
  height: 10rem;
}

.min-height-5 {
  height: 5rem;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.half-height {
  height: 50%;
}

.half-width {
  width: 50%;
}

.height-85 {
  height: 85%;
}

.height-60 {
  height: 60%;
}

.expandable-parent .collapsed {
  display: none;
}

.bold {
  font-weight: bold;
}

/* Styles limited to titan sheets */
.titan {
  /* ----------------------------------------- */
  /*  Actions Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Weapons                             */
  /* ----------------------------------------- */
}

.titan .action-list-header {
  word-wrap: normal;
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  margin-bottom: .5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .action-list-header .action-category-name {
  padding: 0px;
  border-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem;
}

.titan .action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

.titan .action-list .action {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  page-break-inside: avoid;
  word-wrap: normal;
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  margin-bottom: .5rem;
  /* .action-name {
      color: $c-dark;
      .action-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    } */
}

.titan .action-list .action:last-child {
  margin-bottom: 1rem;
}

.titan .action-list .action .action-header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.titan .action-list .action .action-header .action-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .action-list .action .action-header .action-label .action-image {
  height: 2rem;
  border: none;
}

.titan .action-list .action .action-header .action-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .action-list .action .action-header .action-controls .fas {
  margin-left: 0.25rem;
}

.titan .action-list .action .weapon-actions {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.titan .action-list .action .weapon-actions .weapon-action {
  padding: .25rem;
  border: solid;
  border-radius: 10px;
}

.titan .action-list .action .action-details {
  word-wrap: break-word;
}

.titan .action-list .action .action-details .action-footer {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .dice-container {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  padding: 4px;
}

.titan .dice-container .die {
  padding-right: 5px;
  padding-bottom: 5px;
}

.titan .dice-container .die-success {
  background-color: lightgreen;
  width: 3rem;
  border: solid;
  border-radius: 10px;
}

.titan .dice-container .die-critical-success {
  background-color: lightskyblue;
  width: 3rem;
  border: solid;
  border-radius: 10px;
}

.titan .dice-container .die-failure {
  background-color: gold;
  width: 3rem;
  border: solid;
  border-radius: 10px;
}

.titan .dice-container .die-critical-failure {
  background-color: lightsalmon;
  width: 3rem;
  border: solid;
  border-radius: 10px;
}

.titan .dice-container .normal-border {
  border-color: black;
}

.titan .dice-container .expertise-border {
  border-color: blue;
  width: 5.5rem;
}

.titan .results-banner {
  font-size: 1.25rem;
}

.titan .results-banner .success-banner {
  font-size: 1.5rem;
  color: darkblue;
}

.titan .results-banner .extra-successes {
  font-size: 1.25rem;
}

.titan .results-banner .failure-banner {
  color: darkred;
}

.titan .item-form {
  font-family: "Roboto", sans-serif;
}

.titan .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.titan .sheet-header .profile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  height: 160px;
  margin-right: 10px;
}

.titan .sheet-header .profile .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  height: 160px;
}

.titan .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}

.titan .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.titan .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.titan .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.titan .sheet-body {
  height: 100%;
}

.titan .tox .tox-editor-container {
  background: #fff;
}

.titan .tox .tox-edit-area {
  padding: 0 8px;
}

.titan .stat-label {
  font-weight: bold;
}

.titan .item-list-header {
  word-wrap: normal;
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  margin-bottom: .5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .item-list-header .item-category-name {
  padding: 0px;
  border-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem;
}

.titan .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.titan .item-list .item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  page-break-inside: avoid;
  word-wrap: normal;
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  margin-bottom: .5rem;
  /* .item-name {
      color: $c-dark;
      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    } */
}

.titan .item-list .item:last-child {
  margin-bottom: 1rem;
}

.titan .item-list .item .item-header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.titan .item-list .item .item-header .item-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .item-list .item .item-header .item-label .item-image {
  height: 2rem;
  border: none;
}

.titan .item-list .item .item-header .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .item-list .item .item-header .item-controls .fas {
  margin-left: 0.25rem;
}

.titan .item-list .item .item-details {
  word-wrap: break-word;
}

.titan .item-list .item .item-details .item-footer {
  margin-top: 0.25rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .effects .item .effect-source,
.titan .effects .item .effect-duration,
.titan .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.titan .effects .item .effect-controls {
  border: none;
}

.titan .weapon-sheet {
  word-wrap: normal;
  max-height: 85%;
}

.titan .weapon-sheet .tab {
  height: 85%;
}

.titan .weapon-sheet .weapon-header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .weapon-sheet .weapon-header .weapon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.titan .weapon-sheet .weapon-header .weapon-label .weapon-name {
  height: 3rem;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.titan .weapon-sheet .weapon-header .weapon-label .weapon-name input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.titan .weapon-sheet .weapon-header .weapon-label .weapon-image {
  height: 5rem;
  border: none;
}

.titan .weapon-sheet .weapon-header .weapon-header-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 40%;
}

.titan .weapon-sheet .weapon-header .weapon-header-fields .weapon-grip {
  margin-right: 0.5rem;
}

.titan .weapon-sheet .weapon-header .weapon-header-fields .weapon-rarity {
  margin-right: 0.5rem;
}

.titan .weapon-sheet .weapon-description-tab {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.titan .weapon-sheet .weapon-description-tab .attack-details {
  max-height: 100%;
  width: 30%;
  margin-right: 0.5rem;
}

.titan .weapon-sheet .weapon-description-tab .weapon-editors {
  max-height: 100%;
  height: 100%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-item-align: center;
  align-self: center;
}

.titan .weapon-sheet .weapon-description-tab .weapon-editors .weapon-description {
  height: 50%;
}

.titan .weapon-sheet .weapon-description-tab .weapon-editors .weapon-description .editor {
  height: 80%;
}

.titan .weapon-sheet .weapon-description-tab .weapon-editors .attack-description {
  height: 50%;
}

.titan .weapon-sheet .weapon-description-tab .weapon-editors .attack-description .editor {
  height: 80%;
}

.titan .weapon-sheet .attack-sheet-vertical {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .25rem;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-header .attack-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
  width: 60%;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-header .attack-name .attack-name-label {
  font-weight: bold;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-header .attack-name .attack-name-input {
  margin: .25rem;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-header .attack-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-header .attack-controls .fas {
  margin-left: 0.5rem;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
  margin-bottom: .5rem;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-field .attack-label {
  margin-left: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
  width: 50%;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-field .attack-value {
  margin-right: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
  width: 50%;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-field .extra-wide {
  width: 100%;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-traits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.25rem;
  margin-right: 0.25rem;
}

.titan .weapon-sheet .attack-sheet-vertical .attack-traits-container .attack-trait {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: normal;
  margin: 0.25rem;
}
