@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

/* Styles limited to titan sheets */
.titan {
  /* ----------------------------------------- */
  /*  Spells                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Weapons                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Weapons                             */
  /* ----------------------------------------- */
}

.titan .tox .tox-editor-container {
  background: #fff;
}

.titan .tox .tox-edit-area {
  padding: 0 8px;
}

.titan .scrolling {
  overflow-y: scroll;
}

.titan .expandable-parent .collapsed {
  display: none;
}

.titan .actor-sheet .stat-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.titan .actor-sheet .stat-field .stat-label {
  font-weight: bold;
}

.titan .actor-sheet .stat-field .stat-sub-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.titan .actor-sheet .stat-field .stat-sub-fields .stat-sub-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.titan .actor-sheet .stat-field .stat-sub-fields .stat-sub-field.separator {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.titan .actor-sheet .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.titan .actor-sheet .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .actor-sheet .sheet-header .profile {
  margin-right: 0.5rem;
}

.titan .actor-sheet .sheet-header .profile .profile-img {
  height: 10rem;
  width: 12rem;
}

.titan .actor-sheet .sheet-header .header-fields .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.titan .actor-sheet .sheet-header .header-fields .header-row:not(:first-child) {
  margin-top: 0.5rem;
}

.titan .actor-sheet .sheet-header .header-fields .header-row :not(:first-child) {
  margin-left: 0.5rem;
}

.titan .actor-sheet .sheet-header .header-fields .header-row .actor-name {
  border-bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .actor-sheet .sheet-header .header-fields .header-row .actor-name .name-input {
  height: 3rem;
  margin: 0;
}

.titan .actor-sheet .actor-sheet-actions-tab {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list-header {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  word-wrap: normal;
  margin-bottom: .5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list-header .action-category-name {
  padding: 0px;
  border-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  page-break-inside: avoid;
  word-wrap: normal;
  margin-bottom: .5rem;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action:last-child {
  margin-bottom: 1rem;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  height: 2rem;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header .action-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header .action-label .action-image {
  height: 100%;
  border: none;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header .action-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header .action-controls .fas {
  margin-left: 0.25rem;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header .action-details {
  word-wrap: break-word;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-header .action-details .action-footer {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-settings {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .action .action-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .weapon-options {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 0;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .weapon-options .weapon-attacks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: flex;
  -ms-flex-align: flex;
  align-items: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.titan .actor-sheet .actor-sheet-actions-tab .action-list .weapon-options .weapon-attacks .weapon-attack {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.titan .actor-sheet .actor-sheet-inventory-tab {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list-header {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  word-wrap: normal;
  margin-bottom: .5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list-header .item-category-name {
  padding: 0px;
  border-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  page-break-inside: avoid;
  word-wrap: normal;
  margin-bottom: .5rem;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item:last-child {
  margin-bottom: 1rem;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 2rem;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-header .item-label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-header .item-label .item-image {
  height: 100%;
  border: none;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-header .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-header .item-controls .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-left: 0.25rem;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-header .item-controls .labeled-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-details {
  word-wrap: break-word;
}

.titan .actor-sheet .actor-sheet-inventory-tab .item-list .item .item-details .item-footer {
  margin-top: 0.25rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .actor-sheet .actor-sheet-skills-tab .attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.titan .actor-sheet .actor-sheet-skills-tab .attributes :not(:first-child) {
  margin-left: 0.5rem;
}

.titan .actor-sheet .actor-sheet-skills-tab .skill-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  margin-top: 0.5rem;
}

.titan .actor-sheet .actor-sheet-skills-tab .skill-list .stat-field {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.titan .actor-sheet .actor-sheet-skills-tab .skill-list .stat-field:not(:first-child) {
  margin-top: 0.5rem;
}

.titan .item-sheet .sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 15%;
  width: 100%;
}

.titan .item-sheet .sheet-header .item-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65%;
}

.titan .item-sheet .sheet-header .item-label .item-name {
  height: 3rem;
  padding: 0;
  margin-right: 0.5rem;
  margin-bottom: 0;
  border-bottom: 0;
  width: 100%;
}

.titan .item-sheet .sheet-header .item-label .item-name input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.titan .item-sheet .sheet-header .item-label .item-image {
  height: 5rem;
  border: none;
}

.titan .item-sheet .sheet-header .item-fields {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.titan .item-sheet .sheet-header .item-fields .item-rarity {
  width: 100%;
}

.titan .item-sheet .sheet-header .item-fields .item-value {
  width: 100%;
}

.titan .item-sheet .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  height: 5%;
  padding-top: 0.25rem;
}

.titan .item-sheet .tab {
  width: 100%;
  height: 100%;
}

.titan .item-sheet .sheet-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 0.25rem;
}

.titan .item-sheet .sheet-body.no-nav {
  height: 85%;
}

.titan .item-sheet .sheet-body:not(.no-nav) {
  height: 80%;
}

.titan .item-sheet .sheet-body .item-sidebar {
  border-right: solid;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 21rem;
  height: 100%;
  margin-right: 0.5rem;
  padding: 0;
}

.titan .item-sheet .sheet-body .item-sidebar .item-sidebar-header {
  border-top: solid;
  border-bottom: solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.titan .item-sheet .sheet-body .item-sidebar .item-sidebar-header .item-sidebar-label {
  padding: 0px;
  border-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

.titan .item-sheet .sheet-body .item-sidebar .item-sidebar-content {
  padding: 0.5rem;
}

.titan .item-sheet .sheet-body .item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.titan .item-sheet .sheet-body .item-main .editor {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.titan .item-sheet .stat-field-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.titan .item-sheet .stat-field-horizontal:not(:first-child) {
  margin-top: 0.5rem;
}

.titan .item-sheet .stat-field-horizontal :not(:first-child) {
  margin-left: 0.5rem;
}

.titan .item-sheet .stat-field-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.titan .item-sheet .stat-field-vertical:not(:first-child) {
  margin-top: 0.75rem;
}

.titan .item-sheet .stat-field-vertical .stat-input {
  margin-top: 0.25rem;
  text-align: center;
}

.titan .item-sheet .stat-category {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
  height: 100%;
}

.titan .item-sheet .stat-category .stat-category-label {
  font-weight: bold;
  width: 100%;
  margin-bottom: 0;
}

.titan .item-sheet .stat-label {
  font-weight: bold;
  width: 100%;
}

.titan .item-sheet .stat-input {
  width: 100%;
}

.titan .item-sheet .stat-controls {
  width: 100%;
}

.titan .item-sheet .traits-container {
  width: 100%;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .item-sheet .traits-container .trait {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

.titan.item-trait-select-dialog .trait-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.titan.item-trait-select-dialog .trait-list .trait {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.titan.item-trait-select-dialog .trait-list .trait:not(:first-child) {
  margin-top: 0.5rem;
}

.titan.item-trait-select-dialog .trait-list .trait .trait-label {
  width: 100%;
}

.titan.item-trait-select-dialog .trait-list .trait .trait-input {
  width: 100%;
  text-align: right;
  margin-right: 0;
}

.titan.item-chat-message .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.titan.item-chat-message .item-header .item-image {
  width: 20%;
  border: none;
}

.titan.item-chat-message .item-stats {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.titan.item-chat-message .item-stat {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

.titan.item-chat-message .item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  margin-top: 0.5rem;
}

.titan.titan-chat-message .traits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-direction: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.titan.titan-chat-message .traits-container .trait {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border: solid;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.titan.titan-chat-message .description {
  margin-top: 0.5rem;
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.titan.chat-message-damage-report {
  font-style: bold;
}

.titan.check-chat-message .check-chat-message-dice-container {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0.25rem;
  width: 100%;
}

.titan.check-chat-message .check-chat-message-dice-container .die {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  width: 3rem;
  border: solid;
  border-radius: 0.5rem;
  border-color: black;
}

.titan.check-chat-message .check-chat-message-dice-container .die:first-child {
  margin-left: 0;
}

.titan.check-chat-message .check-chat-message-dice-container .die.critical-success {
  background-color: lightskyblue;
}

.titan.check-chat-message .check-chat-message-dice-container .die.success {
  background-color: lightgreen;
}

.titan.check-chat-message .check-chat-message-dice-container .die.failure {
  background-color: gold;
}

.titan.check-chat-message .check-chat-message-dice-container .die.critical-failure {
  background-color: lightsalmon;
}

.titan.check-chat-message .check-chat-message-dice-container .die.expertise-applied {
  border-color: blue;
  width: 5.5rem;
}

.titan.check-chat-message .check-chat-message-results-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: black;
  padding: 0.5rem;
}

.titan.check-chat-message .check-chat-message-results-banner .succeeded {
  font-size: 1.5rem;
  color: darkblue;
}

.titan.check-chat-message .check-chat-message-results-banner .extra-successes {
  color: black;
  font-size: 1.25rem;
}

.titan.check-chat-message .check-chat-message-results-banner .failed {
  color: darkred;
  font-size: 1.5rem;
}

.titan.check-chat-message .check-chat-message-damage-buttons {
  width: 100%;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.titan.check-chat-message .check-chat-message-damage-buttons .damage-button {
  width: 100%;
}

.titan.check-chat-message .check-chat-message-damage-buttons .damage-button:not(:last-child) {
  margin-right: 0.5rem;
}

.titan .spell-sheet .spell-sheet-description-tab {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .spell-sheet .spell-sheet-description-tab .item-main {
  height: 99%;
  text-align: left;
}

.titan .spell-sheet .spell-sheet-aspects-tab {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category .stat-category-label {
  margin-bottom: 0.25rem;
  border-bottom: none;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category .stat-field-vertical {
  margin-top: 0.25rem;
  border-top: solid;
  padding: 0.25rem;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category .stat-field-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 0.25rem;
  border-top: solid;
  padding: 0.25rem;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category .stat-field-horizontal .stat-label {
  width: 50%;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category .stat-field-horizontal .stat-input {
  width: 50%;
  text-align: center;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category.double-column {
  grid-column-end: span 2;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category.double-column .double-column-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category.double-column .double-column-row .stat-field-horizontal {
  width: 40%;
}

.titan .spell-sheet .spell-sheet-aspects-tab .stat-category.double-column .double-column-columns {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.titan .weapon-sheet .weapon-sheet-description-tab {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.titan .weapon-sheet .weapon-sheet-description-tab .item-sidebar .attacks-list {
  max-height: 25.25rem;
}

.titan .weapon-sheet .weapon-sheet-description-tab .item-main .weapon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  height: 100%;
  width: 100%;
  padding-bottom: 0.5rem;
}

.titan .weapon-sheet .weapon-sheet-description-tab .item-main .attack-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  height: 100%;
  width: 100%;
  padding-bottom: 0.5rem;
}

.titan .weapon-sheet .weapon-sheet-attacks-tab .attacks {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-top: 0.5rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .25rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-header .attack-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
  width: 100%;
  font-size: 1.1rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-header .attack-name .attack-name-input {
  margin: .25rem;
  margin-left: 0.5rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-header .attack-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-header .attack-controls .fas {
  margin-left: 0.5rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
  margin-bottom: .5rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-field .attack-label {
  margin-left: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
  width: 50%;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-field .attack-value {
  margin-right: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
  width: 50%;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-field .attack-value.extra-wide {
  width: 125%;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-traits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.25rem;
}

.titan .weapon-sheet .weapon-sheet-attack-sheet-vertical .attack-traits-container .attack-trait {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: normal;
  margin: 0.25rem;
}

.titan .weapon-sheet .add-attack-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: solid;
  border-radius: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.titan.weapon-chat-message .attack-sheet {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0.5rem;
}

.titan.weapon-chat-message .attack-sheet .attack-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
