{{! Traits }}
<div class="chat-message-traits-container">
    {{#each traits as |trait key|}}
    <div class="trait">
        {{localize (concat ../path trait.name ".label")}}
    </div>
    {{/each}}
</div>