<form class="{{cssClass}} item-sheet spell-sheet" autocomplete="off">
  {{! Header }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-tradition-rarity-header.hbs"}}

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description-tab">{{localize "TITAN.description.label"}}</a>
    <a class="item" data-tab="details-tab">{{localize "TITAN.details.label"}}</a>
  </nav>

  {{! Sheet Content }}
  <div class="sheet-body">

    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description-tab">
      {{> "systems/titan/templates/item/spell/components/spell-sheet-description-tab.hbs"}}
    </div>

    {{! Details Tab }}
    <div class="tab" data-group="primary" data-tab="details-tab">
      {{> "systems/titan/templates/item/spell/components/spell-sheet-details-tab.hbs"}}
    </div>
  </div>
</form>