<div class="weapon-sheet-attacks-tab full-height">
  {{! Weapon attacks }}
  <div class="attacks grid grid-3col">

    {{! For each attack }}
    {{#each system.attack as |attack key|}}
    {{> "systems/titan/templates/item/weapon/components/weapon-sheet-attack-sheet-vertical.hbs"
    attack=attack
    key=key
    attackTypeOptions=../attackTypeOptions
    rangedRangeOptions=../rangedRangeOptions
    meleeRangeOptions=../meleeRangeOptions
    attributeOptions=../attributeOptions
    skillOptions=../skillOptions
    tab="attacks"
    isExpanded=../isExpanded
    }}
    {{/each}}
    {{! Adding a new attack }}
    <div class="add-attack-button">
      <a class="fas fa-plus-circle add-attack"></a>
    </div>
  </div>
</div>