@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-group-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flex-group-left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

@mixin flex-group-right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

@mixin border {
    border: solid;
    border-radius: 10px;
    padding: 0.5rem;
}

@mixin list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: thin;
}

@mixin list-item-vertical {
    break-inside: avoid;

    &:not(:first-child) {
        margin-top: 0.5rem;
    }
}