@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-group-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flex-group-left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

@mixin flex-group-right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

@mixin border($padding : 0.5rem) {
    border: solid;
    border-radius: 0.5rem;
    padding: $padding;
}

@mixin list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: thin;
}

@mixin list-item-vertical {
    break-inside: avoid;

    &:not(:first-child) {
        margin-top: 0.5rem;
    }
}

@mixin grid($column-count) {
    display: grid;
    gap: 0.5rem;
    margin: 0.5rem 0;
    padding: 0;
    grid-column: span $column-count / span $column-count;
    grid-template-columns: repeat($column-count, minmax(0, 1fr));
}

@mixin grid-start($column-count) {
    grid-column-start: $column-count
}

@mixin grid-span($column-count) {
    grid-column-end: span $column-count;
}