{{! Item Tab }}
<div>

  {{! Weapons }}
  <div>
    <ol class="items-list list list-4col">
      {{! For each skill}}
      {{#each weapon as |weapon key|}}

      {{! Rollable label}}
      <li class="item expandable-parent">
        <a class="item-header expand">
          {{weapon.name}}
        </a>
        <div class="expandable-content collapsed">
          {{{weapon.system.description}}}
          <div>test</div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>