{{! Item Tab }}
<div>

  {{! Weapons }}
  <div>
    <ol class="items-list weapons-list">
      <li "item flexrow items-header">
        <div class="item-name">
          {{localize "TITAN.name.label"}}
        </div>
      </li>
      {{log weapon}}
      {{#each weapon as |weapon id|}}
      <li "item flexrow items-header">
        <div class="item-name" data-item-id="{{weapon._id}}">
          {{weapon.system.name}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>