.border {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list-1col {
  column-count: 1;
}

.list-2col {
  column-count: 2;
}

.list-3col {
  column-count: 3;
}

.list-4col {
  column-count: 4;
}

.li.list-item {
  break-inside: avoid;
  page-break-inside: avoid;
  align-items: top;
  word-wrap: normal;
}


li.list-item:not(:last-child) { 
  margin-bottom: 1rem;  
}

.test-flex {
  display:flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap:10px;
  flex-basis: auto;
  flex: 1;
}