.border {
  padding: .5rem;
  border: solid;
  border-radius: 10px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list-1col {
  column-count: 1;
}

.list-2col {
  column-count: 2;
}

.list-3col {
  column-count: 3;
}

.list-4col {
  column-count: 4;
}

.li.list-item {
  break-inside: avoid;
  page-break-inside: avoid;
  align-items: top;
  word-wrap: normal;
}


li.list-item.vertical-list:not(:last-child) { 
  margin-bottom: 1rem; 
}

li.list-item.horizontal-list{
  margin-bottom: 1rem;  
  margin-right: 0.25rem; 
  margin-left: 0.25rem; 
}

li.list-item.horizontal-list:not(:last-child) { 
 
}

.item-sidebar {
  .scrolling {
    //
    overflow-y: scroll;
  }
}

.fixed {

}

details summary { 
  cursor: pointer;
}

.max-height-20 {
  max-height: 20rem;
}

.max-height-21 {
  max-height: 21rem;
}

.max-height-22 {
  max-height: 22rem;
}

.max-height-23 {
  max-height: 23rem;
}

.max-height-24 {
  max-height: 24rem;
}

.max-height-25 {
  max-height: 25rem;
}