{{! Damage Button }}
<div class="damage-buttons">
  {{! Normal Damage}}
  <button class="apply-damage" data-visibility="gm" data-damage={{results.damage}}>
    {{localize "TITAN.damage.apply.label"}}
  </button>

  {{! Ignore Armor }}
  <button class="apply-damage" data-visibility="gm" data-damage={{results.damage}} data-ignore-armor="true">
    {{localize "TITAN.damage.apply.ignoreArmor.label"}}
  </button>
</div>