/* ----------------------------------------- */
/*  Spells                             */
/* ----------------------------------------- */

.spell-sheet {

  .spell-sheet-description-tab {
    width: 100%;
    height: 100%;
    @include flex-row;
    @include flex-group-center;

    .item-main {
      height: 99%;
      text-align: left;
    }
  }

  .spell-sheet-aspects-tab {
    @include grid(5);

    .stat-category {
      justify-content: flex-start;

      .stat-category-label {
        margin-bottom: 0.25rem;
        border-bottom: none;
      }

      .stat-field-vertical {
        margin-top: 0.25rem;
        @include border-top(0.25rem);
      }

      .stat-field-horizontal {
        @include flex-row;
        @include flex-space-between;
        width: 100%;

        margin-top: 0.25rem;

        &:not(:first-child) {
          @include border-top(0.25rem);
        }


        .stat-label {
          width: 50%;
        }

        .stat-input {
          width: 50%;
          text-align: center;
        }
      }

      .stat-sub-category {
        @include flex-column;
        justify-content: flex-start;
        @include border(0.25rem);

        .stat-field-horizontal {
          justify-content: space-between;
        }
      }

      &.double-column {
        @include grid-span(2);

        .double-column-row {
          @include flex-row;
          @include flex-group-center;
          width: 100%;

          .stat-field-horizontal {
            width: 40%;
          }
        }

        .double-column-columns {
          width: 100%;
          @include grid(2);
        }
      }
    }
  }
}