/* ----------------------------------------- */
/*  Spells                             */
/* ----------------------------------------- */

.spell-sheet {

  .spell-sheet-description-tab {
    width: 100%;
    height: 100%;
    @include flex-row;
    @include flex-group-center;

    .item-main {
      height: 99%;
      text-align: left;
    }
  }

  .spell-sheet-aspects-tab {
    @include grid(5);

    .stat-category {
      justify-content: flex-start;

      .horizontal-checkbox {
        width: 100%;
        @include flex-row;
        @include flex-group-center;
      }
    }
  }
}