/* ----------------------------------------- */
/*  Weapons                             */
/* ----------------------------------------- */

&.weapon-chat-message {
  .attack-sheet {
    @include border-normal;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    .stats {
      border: none;
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .stat {
        @include border-normal;
        margin: 0.25rem;
      }
    }
  }
}