/* ----------------------------------------- */
/*  Actions Lists                              */
/* ----------------------------------------- */

.action-list-header {
  word-wrap: normal;
  padding: .5rem;
  border: solid;
  border-radius: 10px;
  margin-bottom: .5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .action-category-name {
    padding: 0px;
    border-bottom: 0;
    font-weight: 300;
    font-size: 1.25rem;
  }
}

.action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;

  // Individual action
  .action {

    break-inside: avoid;
    align-items: center;
    page-break-inside: avoid;
    word-wrap: normal;
    padding: .5rem;
    border: solid;
    border-radius: 10px;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    /* .action-name {
      color: $c-dark;
      .action-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    } */
    .action-header {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0.5rem;

      .action-label {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;

        .action-image {
          height: 2rem;
          border: none;
        }
      }

      .action-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .fas {
          margin-left: 0.25rem;
        }
      }

      .action-details {
        word-wrap: break-word;

        .action-footer {
          font-weight: bold;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          text-align: center;
        }
      }
    }

    .action-settings {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }

    .action-checkbox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .weapon-options {
    margin-bottom: 0;

    .weapon-attacks {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex;
      flex-wrap: wrap;

      .weapon-attack {
        padding: .25rem;
        border: solid;
        border-radius: 10px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}