&.titan-chat-message {
    .traits-container {
        display: flex;
        flex-direction: row;
        flex-direction: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0.5rem;

        .trait {
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
            border: solid;
            border-radius: 10px;
            padding: 0.25rem;
        }
    }

    .description {
        margin-top: 0.5rem;
        border: solid;
        border-radius: 10px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

&.item-chat-message {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        .image {
            width: 20%;
            border: none;
        }
    }

    .stats {
        display: flex;
        justify-content: space-between;
        border: solid;
        border-radius: 10px;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}

&.chat-message-damage-report {
    font-style: bold;
}