&.check {
    .dice-container {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 2rem;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.25rem;
        width: 100%;
    
        .die{
            margin-left: 0.5rem;
            margin-bottom: 0.25rem;
            &:first-child {
                margin-left: 0;
            }
            &.critical-success {
                background-color: lightskyblue;
            }
            &.success {
                background-color:lightgreen;
            }
            &.failure {
                background-color:gold;
            }
            &.critical-failure {
                background-color:lightsalmon;
            }
            width: 3rem;
            border: solid;
            border-radius: 10px;
            border-color: black;
            &.expertise-applied {
                border-color:blue;
                width: 5.5rem;
            }
        }
    }

    .results-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: solid;
        border-radius: 10px;
        border-color: black;
        font-size: 1.25rem;
        color: black;
        padding: 0.5rem;

        .succeeded {
            font-size: 1.5rem;
            color:darkblue;
        }

        .extra-successes {
            color: black;
            font-size: 1.25rem;
        }
        
        .failed {
            color: darkred;
            font-size: 1.5rem;
        }
    }
}