/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.skills-list {
  height: 100%;
  column-count: 3;
  column-gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;
  .skill {
    height: 3rem;
    break-inside: avoid;
    page-break-inside: avoid
  }
}