/* ----------------------------------------- */
/*  Weapons                             */
/* ----------------------------------------- */

.weapon-sheet {
  word-wrap: normal;

  .weapon-header {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    .weapon-label {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      width: 50%;

      .weapon-name {
        height: 3rem;
        padding: 0px;
        margin: 5px 0;
        border-bottom: 0;

        input {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
      
      .weapon-image {
        height: 5rem;
        border: none;
      }
    }

    .weapon-header-fields {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 40%;
      .weapon-grip {
        margin-right: 0.5rem;
      }
      .weapon-rarity {
        margin-right: 0.5rem;
      }
      .weapon-value {
      }
    }
  }

  .weapon-details {
    height: 85%;
    .weapon-details-content {

    }
  }

  .attack-sheet-vertical {
    padding: .5rem;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .attack-header {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
      margin-bottom: .25rem;

      .attack-name {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        text-align: start;
        width: 60%;

        .attack-name-label {
          font-weight: bold;
        }
  
        .attack-name-input {
          margin: .25rem;
        }
      }

      .attack-controls {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;

        .fas {
          margin-left: 0.5rem;
        }
      }
    }
  
    .attack-field {
      display: flex;
      font-weight: bold;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
      margin: 0;
      width: 100%;
      margin-bottom: .5rem;

      .attack-label {
        margin-left: 0.25rem;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        text-align: start;
        width: 50%;
      }
      .attack-value {
        margin-right: 0.25rem;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        text-align: end;
        width: 50%;
      }
      .extra-wide {
        width:100%
      }
    }

    .attack-traits-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 0.25rem;
      margin-right: 0.25rem;

      .attack-trait {
        padding: .5rem;
        border: solid;
        border-radius: 10px;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:flex-end;
        font-weight: normal;
        margin: 0.25rem;
      }
    }
  }
}

