<form class="{{cssClass}} item-sheet armor-sheet" autocomplete="off">
  {{! Header}}
  {{> "systems/titan/templates/item/components/item-value-rarity-sheet-header.hbs"}}

  <div class="sheet-body armor-content">

  </div>
</form>