.actor-sheet {

    .stat-label {
        font-weight: bold;
    }

    .sheet-header {
        flex: 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 10px;

        .profile {
            flex: 0 0 160px;
            height: 160px;
            margin-right: 10px;

            .profile-img {
                flex: 0 0 160px;
                height: 160px;
            }
        }

        .header-fields {
            height: 100%;

            .header-field {
                @include flex-column;
                align-items: center;
                @include flex-group-center;
                @include border;

                .header-sub-fields {
                    @include flex-row;

                    .header-sub-field {
                        @include flex-column;
                        align-items: center;
                        width: 100%;

                        &.separator {
                            justify-content: center;
                            height: 100%;
                        }
                    }
                }
            }
        }

        h1.charname {
            height: 50px;
            padding: 0px;
            margin: 5px 0;
            border-bottom: 0;

            input {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }
    }

    @import 'actor-sheet-actions';
    @import 'actor-sheet-inventory';
}