.actor-sheet {
    .stat-field {
        @include flex-column;
        align-items: center;
        @include flex-group-center;
        @include border-normal;
        width: 100%;

        .stat-label {
            font-weight: bold;
        }

        .stat-sub-fields {
            @include flex-row;

            .stat-sub-field {
                @include flex-column;
                align-items: center;
                width: 100%;

                &.separator {
                    justify-content: center;
                    height: 100%;
                }
            }
        }
    }

    .sheet-header {
        flex: 0;
        @include flex-row;
        align-items: center;

        .profile {
            flex: 0 0 160px;
            height: 160px;
            margin-right: 10px;

            .profile-img {
                height: 10rem;
                width: 10rem;
            }
        }

        .header-fields {
            .header-row {
                @include flex-row;
                height: 100%;
                width: 100%;

                &:not(:first-child) {
                    margin-top: 0.5rem;
                }

                :not(:first-child) {
                    margin-left: 0.5rem;
                }

                .actor-name {
                    border-bottom: 0;
                    margin: 0;
                    @include flex-column;
                    @include flex-group-center;

                    .name-input {
                        height: 3rem;
                        margin: 0;
                    }
                }
            }
        }
    }

    @import 'actor-sheet-actions';
    @import 'actor-sheet-inventory';
    @import 'actor-sheet-skills';
}