<form class="{{cssClass}} weapon-sheet" autocomplete="off">
  {{! Header}}
  {{> "systems/titan/templates/item/components/item-value-rarity-header.hbs"}}

  <div class="sheet-body weapon-content">
    {{! Sheet Tab Navigation }}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">{{localize "TITAN.description.label"}}</a>
      <a class="item" data-tab="attacks">{{localize "TITAN.attacks.label"}}</a>
    </nav>

    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/titan/templates/item/weapon/components/weapon-description-tab.hbs"}}
    </div>

    {{! Attacks Tab }}
    <div class="tab" data-group="primary" data-tab="attacks">
      {{> "systems/titan/templates/item/weapon/components/weapon-attacks-tab.hbs"}}
    </div>
  </div>
</form>