<div class="weapon-attacks-tab full-height">
  {{! Weapon attacks }}
  <div class="attacks grid grid-3col">

    {{! For each attack }}
    {{#each system.attack as |attack key|}}
    {{> "systems/titan/templates/item/weapon/weapon-attack-sheet-vertical.hbs"
    attack=attack
    key=key
    attackTypeOptions=../attackTypeOptions
    rangedRangeOptions=../rangedRangeOptions
    meleeRangeOptions=../meleeRangeOptions
    attributeOptions=../attributeOptions
    skillOptions=../skillOptions
    }}
    {{/each}}
    {{! Adding a new attack }}
    <div class="flex-group-center padding-right10 border">
      <a class="fas fa-plus-circle add-attack"></a>
    </div>
  </div>
</div>