{{! Target }}
<div class="spell-sheet-aspects-tab-target stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.target.label"}}</h3>

  {{! Type }}
  <div class="stat-field-vertical">
    {{! Type Label }}
    <div class="stat-label">
      {{localize "TITAN.type.label"}}
    </div>

    {{! Type Select }}
    <select name="system.target.type" class="stat-input">
      {{selectOptions targetOptions selected=system.target.type localize=true}}
    </select>

    {{! Type Custom }}
    {{#if (equals system.target.type "custom")}}
    <input class="stat-input" type="text" name="system.target.custom" value="{{system.target.custom}}"
      placeholder="Custom" />
    {{/if}}
  </div>

  {{! If Target not Self }}
  {{#if (not (equals system.target.type "self"))}}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-number-input.hbs"
  label="TITAN.target.label"
  path="system.target.initialValue"
  value=system.target.initialValue
  }}

  {{! Overcast }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.target.overcast
  path="system.target"
  }}
  {{/if}}
</div>