<div class="stat-field-vertical spell-sheet-aspects-tab-resistance-check-select">
  {{! Label }}
  <div class="stat-label">
    {{localize "TITAN.resistanceCheck.label"}}
  </div>

  {{! Select }}
  <select name="{{path}}" class="stat-input">
    {{selectOptions options selected=value localize=true}}
  </select>
</div>