<div class="stat-field-horizontal spell-sheet-aspects-tab-number-input">

  {{! Label }}
  <div class="stat-label">
    {{localize label}}
  </div>

  {{! Input }}
  <input name="{{path}}" class="stat-input" type="number" value="{{value}}" data-dtype="Number" />
</div>