{{! Healing }}
<div class="spell-sheet-aspects-tab-healing stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.healing.label"}}</h3>

  {{! Initial Value }}
  <div class="stat-field-horizontal">

    {{! Label }}
    <div class="stat-label">
      {{localize "TITAN.amount.label"}}
    </div>

    {{! Input }}
    <input name="system.healing.initialValue" class="stat-input" type="number" value="{{system.healing.initialValue}}"
      data-dtype="Number" />
  </div>

  {{! Overcast }}
  {{#if (greater system.healing.initialValue 0)}}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.healing.overcast
  path="system.healing"
  }}
  {{/if}}

</div>