{{! Damage }}
<div class="spell-sheet-aspects-tab-damage stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.damage.label"}}</h3>

  {{! Initial Value }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-number-input.hbs"
  label="TITAN.damage.label"
  path="system.damage.initialValue"
  value=system.damage.initialValue
  }}

  {{! If Damage }}
  {{#if (greater system.damage.initialValue 0)}}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-checkbox-input.hbs"
  label="TITAN.ignoreArmor.label"
  path="system.damage.ignoreArmor"
  value=system.damage.ignoreArmor
  }}

  {{! Resistance Check }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-resistance-check-select.hbs"
  path="system.damage.resistanceCheck"
  options=resistanceCheckOptions
  value=system.damage.resistanceCheck
  }}

  {{! Overcast }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.damage.overcast
  path="system.damage"
  }}
  {{/if}}

</div>