{{! Healing }}
<div class="spell-sheet-aspects-tab-healing stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.healing.label"}}</h3>

  {{! Initial Value }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-number-input.hbs"
  label="TITAN.healing.label"
  path="system.healing.initialValue"
  value=system.healing.initialValue
  }}

  {{! Overcast }}
  {{#if (greater system.healing.initialValue 0)}}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.healing.overcast
  path="system.healing"
  }}
  {{/if}}

</div>