<div class="spell-sheet-aspects-tab">

  {{! Range }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-range.hbs"}}

  {{! Target }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-target.hbs"}}

  {{! Damage }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-damage.hbs"}}

  {{! Healing }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-healing.hbs"}}

  {{! Healing }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-duration.hbs"}}

  {{! Condition Removal }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-remove-condition.hbs"}}

  {{! Condition Infliction }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-inflict-condition.hbs"}}

  {{! Skill Increase }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-increase-skill.hbs"}}

  {{! Skill Decrease }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-decrease-skill.hbs"}}

  {{! Resistance Increase }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-increase-resistance.hbs"}}

  {{! Resistance Decrease }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-decrease-resistance.hbs"}}

  {{! Attribute Increase }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-increase-attribute.hbs"}}

  {{! Attribute Decrease }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-decrease-attribute.hbs"}}
</div>