<div class="stat-field-horizontal spell-sheet-aspects-tab-checkbox-input">
  {{! Label }}
  <div class="stat-label">
    {{localize label}}
  </div>

  {{! Checkbox }}
  <input name="{{path}}" class="stat-input" type="checkbox" {{checked value}} />
</div>