{{! Duration }}
<div class="spell-sheet-aspects-tab-duration stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.duration.label"}}</h3>

  {{! Period Value }}
  <div class="stat-field-vertical">

    {{! Label }}
    <div class="stat-label">
      {{localize "TITAN.duration.period.label"}}
    </div>

    {{! Input }}
    <select name="system.duration.period" class="stat-input">
      {{selectOptions durationOptions selected=system.duration.period localize=true}}
    </select>

    {{! Custom Input }}
    {{#if (equals system.duration.period "custom")}}
    <input class="stat-input" type="text" name="system.duration.custom" value="{{system.duration.custom}}"
      placeholder="Custom" />
    {{/if}}
  </div>

  {{! Overcast }}
  {{#if (not (equals system.duration.period "instant"))}}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.duration.overcast
  path="system.duration"
  }}
  {{/if}}
</div>